@use '../../assets/styles/variables';

.maincontent {
  flex: 1 0 auto;

  margin-left: 2rem;
  margin-right: 2rem;
}

.table-card {
  border-radius: 0.5;
  width: 90%;
  font-family: variables.$main-font;
}

.table-col {
  width: 30%;
  font-weight: 700;
  font-size: 18pt;
  color: variables.$color-darkgrey;
}
.table-col-0,
.table-col-4 {
  width: 15%;
}
.table-row {
  font-weight: 400;
  font-size: 12pt;
  color: black;
}
.table-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5px;
}

.table-save,
.table-edit,
.table-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  color: white;
  text-decoration: none;
  padding: 0.3em 1em;
  outline: none;
  border-width: 1px 0;
  border-style: solid none;
  border-radius: 6px;
  transition: 0.2s;
  font-size: 9pt;
}
.table-save {
  border-color: #55fd33 #000 #5ad706;
  background: #0c9c0d linear-gradient(#66d174, #049b04);

  &:hover {
    background: #1c9b1c linear-gradient(#82d18d, #0c9c0d);
  }
  &:active {
    background: linear-gradient(#82d18d, #0c9c0d, #0c9c0d);
  }
}
.table-edit {
  border-color: #fdbe33 #000 #d77206;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;

  &:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
  }
  &:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
  }
}
.table-delete {
  border-color: #fd4b33 #000 #d71e06;
  background: linear-gradient(#f73218, #e31616) #eb0e0e;

  &:hover {
    background: linear-gradient(#f53f27, #e43232) #e62e2e;
  }
  &:active {
    background: linear-gradient(#eb0e0e, #e31616) #f73218;
  }
}
.hidden {
  display: none;
}
