.card-body {
  width: 200px;
  height: 250px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 2px solid #f1e7e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'NotoSansMono-Regular', sans-serif;
}
.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.card-button {
  position: absolute;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: #4eb7a2;
  transition: 0.2s;
  text-align: center;

  &:hover {
    background: #68c0e0;
    transition: 0.5s all;
  }
  &:active {
    background: #4eb7a2;
    box-shadow: 0 3px #4eb7a2 inset;
  }
}

.hidden {
  display: none;
}

.card-text {
  color: #3b3938;
  font-weight: 700;
  font-size: 25pt;
}
.card-translation {
  position: absolute;
  margin-bottom: 25px;
  ///color: #4eb7a2;
  color: red;
}
