.navbar {
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  background-color: rgb(252, 252, 251);
  display: flex;
  justify-content: space-around;
}

.header-logo {
  max-width: 200px;
}
