@use '../../assets/styles/variables';

.navbar {
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  max-width: 200px;
}
.header-icon {
  max-width: 22px;
  padding-right: 3px;
}
.nav-item {
  display: inline-block;
  font-size: 20px;
  padding: 8px;
  color: variables.$color-darkgrey;
  text-align: center;
  outline: none;
  text-decoration: none;

  &:hover {
    color: variables.$color-cyan;
    opacity: 0.35;
    transition: 0.5s all;
  }
}
