@use '../../assets/styles/variables';
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;

  margin-bottom: 50px;
}
.card-container {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body {
  width: 200px;
  height: 250px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 2px solid #f1e7e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: variables.$main-font-bold;
}
.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-button {
  position: absolute;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: variables.$color-cyan;
  transition: 0.2s;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: variables.$color-blue;
    transition: 0.5s all;
  }
  &:active {
    background: variables.$color-blue;
    box-shadow: 0 3px variables.$color-blue inset;
  }
  &:focus {
    box-shadow: 0 3px black;
  }
}

.hidden {
  display: none;
}

.card-text {
  color: variables.$color-darkgrey;
  font-weight: 700;
  font-size: 25pt;
}
.card-translation {
  position: absolute;
  margin-bottom: 25px;
  color: variables.$color-red;
  font-family: variables.$title-font;
  font-size: 20pt;
}

.prevcard,
.nextcard {
  color: white;
  text-decoration: none;
  padding: 0.3em 1em;
  margin: 0px 10px 0 10px;
  outline: none;
  border-width: 1px 0;
  border-style: solid none;
  border-radius: 6px;
  transition: 0.2s;
  font-size: 9pt;
  border-color: variables.$color-blue #000 variables.$color-blue;
  background: variables.$color-blue;

  &:hover {
    background: variables.$color-cyan;
  }
  &:active {
    background: variables.$color-cyan;
  }
}

.card-counttext {
  display: flex;
  text-align: center;
  font-family: variables.$main-font;
  color: variables.$color-darkgrey;
  font-size: 14pt;
}
