.footer {
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  align-items: end;
}

.footer-text {
  justify-content: end;
}

.footer-logo {
  max-width: 95px;
}
