@use './variables';
@import './fonts.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: variables.$main-font;
}

.footer {
  font-family: variables.$title-font;
  background-color: variables.$color-cyan;
  color: variables.$color-red;
}
h1,
h2 {
  font-family: variables.$title-font;
  color: variables.$color-red;
  text-align: center;
  font-size: 25pt;
}
ul {
  font-weight: lighter;
  list-style-type: square;
  list-style-position: inside;
  list-style-image: url(../pencil-solid.svg);
}
