@import './fonts.scss';
@import './variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

.footer {
  font-family: $title-font;
  background-color: $color-cyan;
  color: $color-red;
}
h1,
h2 {
  font-family: $title-font;
  color: $color-red;
  text-align: center;
}
ul {
  font-weight: lighter;
  list-style-type: square;
  list-style-position: inside;
  list-style-image: url(../pencil-solid.svg);
}
