$color-blue: #68c0e0;
$color-red: #e15f4f;
$color-yellow: #f8d250;
$color-cyan: #4eb7a2;
$color-darkgrey: #3b3938;

$main-font: NotoSansMono-Regular, sans-serif;
$main-font-bold: NotoSansMono-Bold, sans-serif;
$title-font: GoodDog, sans-serif;
